<div class="modal fade" id="createTableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva tabla</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <input id="tableName" type="text" class="form-control mr-2" placeholder="Nombre de la tabla">
            </div>
            <div class="form-group d-flex">
              <input id="fieldName" type="text" class="form-control mr-2" placeholder="Nombre del campo">
              <select id="fieldType" class="form-control mr-2">
                <option value="">INT</option>
                <option value="">VARCHAR</option>
                <option value="">DATE</option>
              </select>
              <button id="add-field-btn" class="btn btn-secondary">+</button>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button id ="add-table-btn" type="button" class="btn btn-success">Crear</button>
        </div>
      </div>
    </div>
  </div>